@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Merriweather);

$heading-font: 'Lato', sans-serif;
$body-font: 'Merriweather', serif;
$heading-color: #666666;
$faded-color: #999999;

h1 {
    font-family: $heading-font;
    font-size: 24px;
    color: $heading-color;
    text-align: center;
}

body {
    font-family: $body-font;
    background-color: #CCCCCC;
}

#content {

}

#footer {
    position: fixed;
    color: $faded-color;
}