@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Merriweather);

$heading-font: 'Lato', sans-serif;
$body-font: 'Merriweather', serif;
$heading-color: #666666;
$faded-color: #999999;
$base-width: 900px;

$link-light: #cfcfcf;
$link-dark: #444444;

h1 {
  font-size: 24px;
  color: $heading-color;
  text-align: center;
}

body {
  font-family: $body-font;
  background-color: #CCCCCC;
}

#content {
  width: $base-width;
}

#header {

  font-family: $heading-font;
}

#footer {
  position: fixed;
  bottom: 0px;
  color: $faded-color;
  background-color: #CCCCCC;
}

#navbar_links {
  background-color: $heading-color;

  a {
    text-decoration: none;
    text-align: center;
  }

  :active {
    color: #ffffff;
  }
  :link {
    color: $link-light;
  }
  :visited {
    color: $link-light;
  }
  :hover {
    color: #ffffff;
  }

}

#container {
  margin-left: auto;
  margin-right: auto;
  width: $base-width;
}